//
   Created by GeoStar on 2015/8/26.

extends back
block content
     div.box.box-primary
         div.box-header  文章创建页面
         div.box-body
             form(role='form',id='articleForm')
                 div.form-group
                     label(for='categories') 分类
                     select(id='categories',name='categories').form-control
                         each item in data
                             if(item.level == 0)
                                 optgroup(label="#{item.name}")
                             if(item.level == 1)
                                 if(item.sub.length > 0)
                                     optgroup(label="#{item.name}")
                                     each  it in item.sub
                                         option(value="#{it._id}") &nbsp;&nbsp;#{it.name}
                                 else
                                     option(value="#{item._id}") #{item.name}
                 div.form-group
                     label 标题
                     input(type='text',name='title',placeholder='文章标题').form-control
                 div.form-group
                     label 简介
                     textarea(rows='3',name='introduction',placeholder='文章简介').form-control
                 div.form-group
                     label 文章内容
                     textarea(rows='3',name='content',placeholder='文章内容').form-control
         div.box-footer
             button(id='submit-btn').btn.btn-primary 提交
     script(src='/javascripts/back/article.js',type='text/javascript')